:root{
  --bg-color-dark: #08084E;
  --bg-color-light: #1C36A2;
  --bg-color-redirect-message: hsla(0, 0%, 0%, 0.144);
  --bg-accent: hsla(347, 100%, 98%, 0.26);

  --text-color: hsl(0, 0%, 100%);

  --border: 1px solid hsl(0,0,50%);
  --border-radius: 8px;

  --speed: 100;

  font-family: 'Uchen', serif;
  font-size: .5rem;

  height : 100%;
  width : 100%;
}

body {
  height : 100%;
  width : 100%;
  background: linear-gradient(var(--bg-color-light), var(--bg-color-dark));
  text-decoration: none;
  color: var(--text-color);
}

.redirect-message {
  text-align: center;
  background: var(--bg-color-redirect-message);
  font-size: var(--font-size);
  height:50%;
  width: 50%;
}

.col-md-2 {
  background:var(--bg-accent);
  border: none;
  border-style: none;
}

.row {
  margin: 0;
}

.company-logo{
  display: flex;
  flex-direction: row;
}
.container {
  padding: 0;
}