:root{
    font-size: 1vw;
  --bg-color-dark: #08084E;
  --bg-color-light: #1C36A2;
  --bg-dull: rgba(255, 245, 247, 0.034);
  --accent-color: #EA345F;
  --text-color: hsl(0, 0%, 100%);

  --border: 1px solid hsl(0,0,50%);
  --border-radius: 2.5em;


  font-family: 'Uchen', serif;


  height : 100%;
  width : 100%;
}

body {
  height : 100%;
  width : 100%;
  background: linear-gradient(var(--bg-color-light), var(--bg-color-dark));
  text-decoration: none;
  color: var(--text-color);
  font-size: var(--font-size);
}
.bg {
  background: linear-gradient(90deg, 
    var(--bg-dull) 0%, 
    var(--bg-color-dark) 30%, 
    var(--bg-color-dark) 70%, 
    var(--bg-dull) 100%
  );
}
.col-md-8{
  flex:3;
  display: flex;
}

.col-md-2 {
  flex:1;

  background:var(--bg-dull);
  border: none;
  border-style: none;
}

.content {
  --bgcolor-content-light: #08084E;
  --bgcolor-content-dark: #1C36A2;
  background: 
    linear-gradient(
      45deg,
      var(--bgcolor-content-dark) 0%, 
      var(--bgcolor-content-light) 50%,
      var(--bgcolor-content-dark) 100% 
    );
  background-size: 300% 300%;
  border-radius: var(--border-radius);
  box-shadow: 0 0 1em .1em var(--text-color);

  height: auto;
  width: 35%;
  margin: auto;
  margin-top: 5%;
  padding: 0;
  text-align: center;
  align-items: center;
  flex-direction: column;
  animation: gradient 5s linear infinite alternate-reverse;
}
.content > div {
  margin: 0em 0;
}

.logo-structre-container{
  width: 60%;
  height: auto;
  margin: auto;
  position: relative;
}
.company-logo{
  width: 100%;
  height: auto;
  margin: auto;
  position: relative;
}
.box-logo{
  --speed: 2.3s;
  width: 23.6%;
  height: auto;
  
  position: absolute;
  left: 0;
  bottom: 0;

  animation: logo-spin var(--speed) infinite ease-in-out alternate-reverse;
}

.message-body{
  width: 80%;
  height: auto;
  margin:0;
}

.redirect-message {
  font-size: 1em;
  text-transform: uppercase;
}
#countdown {
  color: var(--accent-color);
  text-transform: none;
}
.row {
  margin: 0;
}

@keyframes logo-spin {

  0% {
    transform: rotate(0deg) scale(1, 1);
  }

  10% {
    transform: rotate(0deg) scale(1, 1);
  }

  50% {
    transform: rotate(180deg) scale(.60, .60);
  }
  
  90% {
    transform: rotate(360deg) scale(1, 1);
  }
  100% {
    transform: rotate(360deg) scale(1, 1);
  }

}

@keyframes gradient {
    0%{background-position:left bottom}
    50%{background-position:center center}
    
    100%{background-position:right top}
}